
:root {
    --light-blue: #0078FD;
    --dark-blue: #141C2F;
    --container-blue: #1F2A48;
    --gray: #A6A6AD;
}

body {
    background: var(--dark-blue);
    color: white;
    font-family: 'Martian Mono', monospace;
}

.container {
    max-width: 550px;
    width: 100%;
    margin: 150px auto;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme-changer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.theme-changer img {
    cursor: pointer;
}
/* Search Styles */
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
   }
   
   .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: var(--container-blue);
    color: #fefefe;
    transition: .3s ease;
    width: 100%;
   }
   
   .input::placeholder {
    color: var(--gray);
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
   }
   
   
input {
    width: 100%;
}
   
   